.section {
  padding: 1rem 2rem;

  &--hero {
    background-image: url('/images/paddleandsurf.jpg');
    background-size: cover;
  }
}

.hero-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__logo {
    display: flex;
    align-items: center;

    &--image {
      width: 2rem;
      margin: 0.5rem;
    }

    &--blog-title {
      margin: 0;
      color: $c-gray;
      font-size: 1rem;
    }
  }

  &__links {
    color: $c-gray;

    &--list {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &--list-item {
      margin: 0 0 0 1rem;
    }
  }
}

.search-icon {
  width: 0.8rem;
}

.hero-title {
  display: flex;
  flex-direction: column;
  padding: 5rem;
  text-align: center;

  &__main-title {
    margin: 0;
    color: $c-white;
    font-size: 5rem;
    font-weight: 400;
    text-transform: uppercase;
  }

  &__subtitle {
    margin: 0;
    color: $c-gray;
  }
}
