body {
  margin: 0;
  font-family: sans-serif;
}

img {
  align-self: center;
  max-width: 100%;
}

ul {
  padding-left: 0;
  list-style: none;
}

.section {
  padding: 1rem 2rem;

  &--hero {
    background: linear-gradient(rgba(162, 247, 245, 0.65), rgba(30, 153, 186, 0.65)), url('/images/paddleandsurf.jpg');
    background-size: cover;
  }

  &--body {
    background: $c-white;
  }
}

.container {
  max-width: 60rem;
  margin: 0 auto;

  &__body {
    display: flex;
  }
}
