// @import 'yoga';
// @import 'normalize';

$fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';

$c-white: #fefefe;
$c-blue: #000c30;
$c-blighten: lighten($c-blue, 20);
$c-gray: #555;
$c-lightgray: #b1b1b1;
@import 'font-awesome';
@import 'box-sizing';
@import 'resets';
@import 'header';
@import 'left-article';
@import 'right-article';

.footer-heading {
  margin: 0;
  border-top: 1px solid $c-lightgray;
  color: $c-blue;
  font-family: 'Comfortaa', cursive;
  font-size: 1.8rem;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
}

.footer-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  &__post {
    position: relative;
    flex-basis: calc(100% / 4);
    flex-grow: 1;
    min-width: 17rem;
    cursor: pointer;
    overflow: hidden;

    &:hover::before {
      background: none;
    }

    &::before {
      display: block;
      position: absolute;
      right: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(rgba(162, 247, 245, 0.65), rgba(30, 153, 186, 0.65));
      content: '';
    }
  }
}

.post-pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.position-center {
  object-position: center;
}

.post-text {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  margin: 0;
  color: $c-blue;
  font-size: 2rem;

  &:hover::before {
    color: $c-white;
  }

  &::before {
    display: block;
    position: absolute;
    right: 0;
    left: 0;
    color: $c-blue;
    content: '';
  }
}

.footer-navbar {
  position: flex;
  align-items: center;
  padding: 1rem 0;
  background: $c-blue;
  color: $c-lightgray;

  &__logo {
    display: flex;
    align-items: center;

    &--image {
      width: 3rem;
    }

    &--text {
      margin: 0 0.8rem;
      color: $c-lightgray;
    }
  }
}
